body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
header{
    position: sticky;
    top: 0;
    width: 90vw;
    display: flex;
    background: #BC111D;
    height: 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid #410003;
    border-top: none;
    z-index: 3;
}
.btn{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container-btn{
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    width: 80%;
    border-right: 3px solid #410003;
    margin: 0;
    padding-left: 0;
}
.container-check{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 20%;
    padding-bottom: 12px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
i{
    font-size: 35px;
    color: white;
    transition: color;
}
.container-btn i:hover, i.active_btn{
    color: #0D61A4;
    transition: .4s;
}
